     
        .logo {
            font-family: 'Monoton', cursive;
            font-weight: 700;
            font-size: 40px;
        }

        .item{
                
                height: 100%;
                width: 100%;
                position: relative;
                background-size: cover;
            }

        
        .navbar-dark .navbar-brand {
                color: #fff;
            }
    
        .fixed-top{
            position: fixed;
             top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
            }
    
        .p{
            font-family: Comfortaa,cursive;
        }

        
        .main-heading {
            text-align: center;
            color: #2aaae2;
            font-family:'Comfortaa', cursive;
            font-size: 26px;
            line-height: 36px;
            font-weight: 600;
            text-transform: uppercase;
            clear: both;
            }    
     
        .main-subheading {
                    color: #0a3872;
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    letter-spacing: 1px;
                    padding-top: 10px;
                    line-height: 22px;
                }

        .pt-0, .py-0 {
            padding-top: 0!important;   
            }
        
        p {
            font-family: 'Comfortaa', cursive;
            margin-top: 0;
            margin-bottom: 1rem;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
        
        .shadow {
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
            }
         
        .shadow:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        }
        


            .main-subheading {
                            text-align: center;
                           }

            .carousel-caption {
                            position: absolute;
                            right: 15%;
                            bottom: 20px;
                            left: 15%;
                            z-index: 10;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            color: #fff;
                            text-align: center;
                        }



        .border-0 {
                    border: 0!important;
                }
        
        .form-body:hover{
                -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
                box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        }
        
        .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
            }
        
        .card:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        }
        
        .card-body {
                    flex: 1 1 auto;
                    padding: 1.25rem;
                }
            
        .card-body:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
        }

        div {
            display: block;
            }
        
        @media (min-width: 768px)
        .col-md-4 {
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                }
        
        .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
                            position: relative;
                            width: 100%;
                            min-height: 1px;
                            padding-right: 15px;
                            padding-left: 15px;
                        }
        
        .mt-3, .my-3 {
                margin-top: 1rem!important;
                }
        
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }
        
        
        *, ::after, ::before{
            box-sizing: border-box;
        }
        
        :root {
                --blue: #007bff;
                --indigo: #6610f2;
                --purple: #6f42c1;
                --pink: #e83e8c;
                --red: #dc3545;
                --orange: #fd7e14;
                --yellow: #ffc107;
                --green: #28a745;
                --teal: #20c997;
                --cyan: #17a2b8;
                --white: #fff;
                --gray: #6c757d;
                --gray-dark: #343a40;
                --primary: #007bff;
                --secondary: #6c757d;
                --success: #28a745;
                --info: #17a2b8;
                --warning: #ffc107;
                --danger: #dc3545;
                --light: #f8f9fa;
                --dark: #343a40;
                --breakpoint-xs: 0;
                --breakpoint-sm: 576px;
                --breakpoint-md: 768px;
                --breakpoint-lg: 992px;
                --breakpoint-xl: 1200px;
                --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
                --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
            }
        
        .color-secondary {
            color: #6e6e6e;
            }
        
        .navbar-brand {
                display: inline-block;
                padding-top: .3125rem;
                padding-bottom: .3125rem;
                margin-right: 1rem;
                font-size: 1.25rem;
                line-height: inherit;
                white-space: nowrap;
            }
        
        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }
        
        .text-center {
            text-align: center!important;
            }
        
        .list-inline-item:not(:last-child) {
            margin-right: .5rem;
        }
        
        .list-inline-item{
            display: inline-block;
        }
        
        .list-inline {
            padding-left: 0;
            list-style: none;
            list-style-type: none;
            list-style-position: initial;
            list-style-image: initial;
        }
        
   